@using CitasWebApp.Models
@model dynamic
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/fullcalender/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fullcalender/fullcalendar.print.min.css")" rel="stylesheet" type="text/css" media="print" />
    <link href="@Url.Content("~/Content/fullcalender/bootstrap_calendar.css")" rel="stylesheet" type="text/css" />
}

<h5 class="mb-0"><strong>Citas</strong></h5>

<div class="row mt-3">
    <div class="col-sm-12">

        <div id="pnDoctores" class="mt-4 mb-4 p-4 button-container bg-white border shadow-sm lh-sm">

            <div class="text-center">
                <h3>Selecciona el Medico de tu preferencia</h3>
            </div>

            <div class="row">
                @{int num = 0; }
                @foreach (var x in Model.doctores)
                {
                    num++;
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="~/img/doctor/@(num).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@(x.nombres + " " + x.apellidos)</h5>
                                <a href="#doctor" data-id="@x.Id" data-doctor="@(x.nombres + " " + x.apellidos)" class="btn btn-theme text-white">Seleccionar</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>


        <!--Default breadcrumb-->
        <div id="pnMedico" class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm" style="display: none">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label for="Medico" class="control-label col-sm-1">Medico</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="cboMedicos">
                            <option>Seleccionar ...</option>
                            @foreach (var x in Model.doctores)
                            {
                                <option value="@x.Id">@(x.nombres + " " + x.apellidos)</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div id="pnCita" class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm lh-sm" style="display: none">
            <div class="text-center">
                <h3 id="txtSelDoc">Doctor</h3>
            </div>
            <form class="form-horizontal">
                <div class="form-group row">
                    <label for="Fecha" class="control-label col-sm-1">Fecha</label>
                    <div class="col-sm-2">
                        <input type="date" class="form-control" id="input-fecha" placeholder="11/11/2019" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Medico" class="control-label col-sm-1">Turno</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="cbTurno">
                            <option>Seleccionar ...</option>
                            <option>07:00 - 07:30</option>
                            <option>07:30 - 08:00</option>
                            <option>08:00 - 08:30</option>
                            <option>09:30 - 10:00</option>
                            <option>10:00 - 10:30</option>
                            <option>10:30 - 11:00</option>
                            <option>11:00 - 11:30</option>
                            <option>11:30 - 12:00</option>
                            <option>12:00 - 12:30</option>
                            <option>12:30 - 12:00</option>
                            <option>12:00 - 12:30</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Medico" class="control-label col-sm-1">Tipo</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="cboTipo">
                            <option>Seleccionar ...</option>
                            <option>Presencial</option>
                            <option>Remoto</option>
                        </select>
                    </div>
                </div>
                <button type="button" id="btnGrabarCita" class="btn btn-success btn-round">Grabar</button>
            </form>
        </div>

        <div id="pnResCita" class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm lh-sm" style="display: none">
            <div class="text-center">
                <h3 id="txtSelDoc">Felicitaciones Cita Generada</h3>
            </div>
            <form class="form-horizontal">
                <div class="form-group row">
                    <label for="Fecha" class="control-label col-sm-1">Doctor</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtResDoc" disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Fecha" class="control-label col-sm-1">Fecha</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtResFecha" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Fecha" class="control-label col-sm-1">Turno</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtResTurno" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Fecha" class="control-label col-sm-1">Tipo</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtResTipo" disabled />
                    </div>
                </div>
            </form>
        </div>

        <!--/Default breadcrumb-->
        <!--Full Calendar-->
        <div id="pnCalendario" class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm lh-sm" style="display: none">
            <div class="text-center">
                <h3>Doctor</h3>
            </div>
            <div class="email-msg">

                <div class="table-responsive" id="calendarFull"></div>

            </div>
        </div>
        <!--/Email messages-->

    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/fullcalender/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalender/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalender/full-calendar.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalender/locale-all.js")"></script>

    <script>
        $(document).ready(function () {
            $('a[href="#doctor"]').click(function () {
                var idDoctor = $(this).attr("data-id");
                var desDoctor = $(this).attr("data-doctor");
                $("#txtSelDoc").html("Doctor: " + desDoctor);
                $("#pnDoctores").hide();
                $("#pnCita").show();
            });

            $("#btnGrabarCita").click(function () {
                $("#pnCita").hide();

                $("#txtResDoc").val($("#txtSelDoc").html());
                $("#txtResFecha").val($("#input-fecha").val());
                $("#txtResTurno").val($("#cbTurno").val());
                $("#txtResTipo").val($("#cboTipo").val());
                $("#pnResCita").show();
            }
            );
        });
    </script>
}

